* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
nav{
  background-color: ;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Media query for responsive design */

@media (max-width: 768px) {
  .navbar-items {
    display: none;
  }

  .navbar-toggle {
    font-size: 20px;
    cursor: pointer;
  }

  .navbar-link {
    display: block;
    margin: 10px 0;
  }
}